html, body {
 margin: 0;
 padding: 0;
 width: 100%;
}

@font-face {
  font-family: 'AllRoundGothic';
  src: url('../fonts/Fontspring-DEMO-allroundgothic-semi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}  